/* importation des police google font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Space+Grotesk:wght@400;700&display=swap');

/* vision de bordure */
/* * {
  border: solid 2px red;
} */

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  background: url(./Assets/Illustrations/Bathome1.png) no-repeat;
  background-size: 90% auto;
  background-position-x: center;
  background-color: black;
  color: white;
  text-align: justify;
  border: solid 3px #c4c4c41b;
  /* definition police 
  font-family: 'Rajdhani', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
  */
}

/* definition des polices */
/* bouton et titre H1 */

li a, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-family: 'Space Grotesk', sans-serif;
}

#ancre li a {
  text-decoration: none;
}

li a {
  font-size: 20px;
  color: white;
}


h2 {
  font-size: 36px;
  margin: 100px 10px 10px 0;
}

p {
  font-size: 18px;
  width: 80%;
}

h3 {
  font-size: 18px;
  text-align: center;
}

em {
  font-style: initial;
  color: #f8f184;
  font-weight: bold;
}

strong {
  font-weight: 100;
  font-size: 18px;
}

section {
  padding-left: 40px;
}

/* commencement de l'entete */
header {
  margin-top: 70px;
  border-bottom: solid 3px #c4c4c41b;
}

/* logo batman et bouton home */
.logoHome {
  margin-left: 200px;
  float: left;
}

#home {
  width: 150px;
  position: relative;
  /* relative ou absolue */
  left: 80%;
  top: -20px;
}

#home ul li {
  list-style: none;
  width: 80px;
}

/* navigation fixed */
#navigationDroite img {
  display: block;
  margin-top: 30px;
  position: relative;

}

#navigationDroite {
  position: fixed;
  right: 150px;
  top: 350px;
  z-index: 10;
}

.logoDroite {
  padding-left: 40px;

}

/* pseudoclass lien  non resolu*/
/* a .logoHome:hover {} */
/* filter: hsl(60, 100%, 50%); */





/* section intro */
.intro {
  width: 620px;
  text-align: center;
  margin: 250px auto;
  padding-left: 20px;

}

#ancre ul {
  display: flex;
  padding: 0;

}

.first {
  margin-right: 50px;
}

#ancre ul li {
  list-style: none;
  background: linear-gradient(90deg, rgba(237, 222, 191, 0.4) 30%, rgba(137, 0, 8, 0.4) 100%);
  padding: 20px 40px;

}

/* pseudo class de section intro */
#ancre ul li:hover {
  background: linear-gradient(90deg, rgba(237, 222, 191, 1) 30%, rgba(137, 0, 8, 1) 100%);
}

/* fleche bas */
.flechedw {
  width: 100px;
  position: relative;
  left: 45%;
}

/* section Batman au cinema */

/* section Nemesis */
#nemesis>img {
  position: absolute;
  width: 200px;
  margin-left: 50px;
  margin-top: -100px;

}


/* section allié */

.batDroite {
  position: absolute;
  margin-top: -260px;
  left: 940px;
}

/* section ligue des justiciers*/

/* section bande annonce  */

.multimed {
  margin: 90px;
}

.description {
  margin-left: 155px;
  margin-bottom: 100px;
  padding: 4px 10px;
  width: 420px;
  background: linear-gradient(158deg, rgba(237, 222, 191, 1) 0%, rgba(25, 88, 125, 1) 60%);
  border-radius: 0 10px 10px 0;
}

.description p {
  width: 400px;
  font-size: 12px;
  text-align: left;
}

.ensemble {
  position: relative;
  left: 200px;
  width: 600px;
}

/* fleche de la carouselle */
.ensemble+div img {

  position: relative;
  left: 370px;
  top: 70px;
}

.multimed div .flecheG {
  position: relative;
  top: 70px;
}

/* section interractif */

/* section citation */
.conteneur {
  width: 800px;
  margin: 100px auto;

}

.citation {
  margin: 0 auto;
  width: 700px;
}

.citation p {
  padding-left: 110px;
  text-align: center;
}

cite, footer div p {
  font-size: 12px;
  font-style: normal;
}

div img[alt="guillemet ouvrant"], div img[alt="guillemet fermant"] {
  margin: 50px;
}

div img[alt="guillemet fermant"] {
  position: relative;
  left: 600px;
}

/* footer */
img[alt="logo Warner Bross"] {
  float: left;
}

footer div {
  margin-left: 350px;
}

.logofoot {
  width: 700px;
  padding-left: 180px;
}

.logofoot img {
  margin: 10px;
}

/* definition de marge des cartes */
.robert, .christian, .riddler, .jocker, .alfred, .catwoman {
  margin-right: 80px;
}

/* mise en place des elements enfants en flex */
.carte1, .carte2, .carte3, .multimed {
  display: flex;
  margin-top: 80px;
}

#ligue div {
  width: 1400px;
  position: relative;
  right: 145px;
}

.league {
  margin-top: 80px;
}

/* section multimedia */
.debutBat img {
  float: left;
}

/* definition du non debordement de la largeur */
.league, video {
  max-width: 100%;
}